.App {
  text-align: center;
  /* padding-right: 18%; */
  /* padd1ing-left: 18%; */
  /* padding-top: 5%; */
  /* background-color: #FFE1d0 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  height: 60px;
}

.carousel-item {
 height: 320px
}



.accordion-body {
  text-align: left;
}

.carousel-item img {
  opacity: 0.4
}

ul {
  text-align: left;
}

.body-container {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  /* text-align: left; */
  padding-bottom: 25px;
  background-color: #FAF5F3; 
}

.header-text {
  font-weight: bolder;
  font-size: 30;
}

.App-link {
  color: #61dafb;
}

footer p {
  font-size: small;
}
